#full {
    margin: 0px;
    position: absolute;
    background-color: black;
}

#Button_search {
    position: absolute;
    font-size: 22px;
    margin-left: 680px;
    margin-top: 350px;
    border-radius:10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}

#Button_search:hover {
    position: absolute;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

#URL_search{
    position: absolute;
    font-size: 18px;
    margin-left: 620px;
    margin-top: 300px;
}
